<div class="center">
  <!--按钮区域-->
  <div class="left"><a href="javascript:;" target="_top" onClick="showDiv('div_01', 'div_02', 'div_03', 'div_04', 'div_05')"><img src="images/home_zh/d_r1_c1.jpg" name="brtzsr1c2" width="119" height="53" border="0" id="Image1"></a></div>
  
  <div class="left"><a href="javascript:;" target="_top" onClick="showDiv('div_02', 'div_01', 'div_03', 'div_04', 'div_05')"><img src="images/home_zh/w_r1_c2.jpg" name="brtzsr1c2" width="90" height="53" border="0" id="Image2"></a></div>
  
  <div class="left"><a href="javascript:;" target="_top" onClick="showDiv('div_03', 'div_01', 'div_02', 'div_04', 'div_05')"><img src="images/home_zh/w_r1_c3.jpg" name="brtzsr1c2" width="85" height="53" border="0" id="Image3"></a></div>
  
  <div class="left"><a href="javascript:;" target="_top" onClick="showDiv('div_04', 'div_01', 'div_02', 'div_03', 'div_05')"><img src="images/home_zh/w_r1_c4.jpg" name="brtzsr1c2" width="85" height="53" border="0" id="Image4"></a></div>
  
  <div class="left"><a href="javascript:;" target="_top" onClick="showDiv('div_05', 'div_01', 'div_02', 'div_03', 'div_04')"><img src="images/home_zh/w_r1_c5.jpg" name="brtzsr1c2" width="85" height="53" border="0" id="Image5"></a></div>
  
  <div class="left"><img src="images/home_zh/btk.jpg" /></div>
  
  <!--展示区域-->
  <div id="h_zhk">
    <div id="div_01" style="display:''">
  <!--循环开始 显示 15条-->
  <a href="#" class="zz_link_2">这里显示标题名称 11111...&nbsp;&nbsp;[12-11]</a>
  <!--循环结束 显示 15条-->
  </div>
  <div id="div_02" style="display:none">
  <!--循环开始 显示 15条-->
  <a href="#" class="zz_link_2">这里显示标题名称 22222...&nbsp;&nbsp;[12-11]</a>
  <!--循环结束 显示 15条-->
  </div>
  <div id="div_03" style="display:none">
  <!--循环开始 显示 15条-->
  <a href="#" class="zz_link_2">这里显示标题名称 33333...&nbsp;&nbsp;[12-11]</a>
  <!--循环结束 显示 15条-->
  </div>
  <div id="div_04" style="display:none">
  <!--循环开始 显示 15条-->
  <a href="#" class="zz_link_2">这里显示标题名称 44444...&nbsp;&nbsp;[12-11]</a>
  <!--循环结束 显示 15条-->
  </div>
  <div id="div_05" style="display:none">
  <!--循环开始 显示 15条-->
  <a href="#" class="zz_link_2">这里显示标题名称 55555...&nbsp;&nbsp;[12-11]</a>
  <!--循环结束 显示 15条-->
  </div>
  <div id="div_06" style="display:none">
  <!--循环开始 显示 15条-->
  <a href="#" class="zz_link_2">这里显示标题名称 66666...&nbsp;&nbsp;[12-11]</a>
  <!--循环结束 显示 15条-->
  </div>
  </div>
</div>