<!--搜索栏目-->
<div id="soo_bj">
  <form action="" method="get">
    <div class="center">
    <div id="soo_bk"><input name="textfield" type="text" class="soo_sr" value="搜索请输入关键字..." onFocus="this.value=''" /> </div>
    <div id="soo_anniu"><input name="" type="image" src="../images/soo_an_r1_c1.jpg" width="28" height="24" style="cursor:hand"/></div>
    <div id="fabu_anniu"><a href="<%= home_publish_url %>"><img src="../images/soo_an_r1_c3.jpg" border="0" /></a></div>
    <div id="tel_400">专家服务热线：400-029-3003</div>
    </div>
  </form>
</div>
<div class="center"><img src="<%= root_url %>/images/tm.png" width="1010" height="15" /></div>

<!--省份选择-->
<div id="sf_bk">
  <div id="sf_rk_1">
  <ul>
    <li><a href="#" class="sf_link">全国</a></li>
  <li><a href="#" class="sf_link">北京</a></li>
  <li><a href="#" class="sf_link">四川</a></li>
  <li><a href="#" class="sf_link">江苏</a></li>
  <li><a href="#" class="sf_link">上海</a></li>
  <li><a href="#" class="sf_link">广东</a></li>
  <li><a href="#" class="sf_link">山东</a></li>
  <li><a href="#" class="sf_link">河北</a></li>
  <li><a href="#" class="sf_link">浙江</a></li>
  <li><a href="#" class="sf_link">陕西</a></li>
  <li><a href="#" class="sf_link">安徽</a></li>
  <li><a href="#" class="sf_link">重庆</a></li>
  <li><a href="#" class="sf_link">湖北</a></li>
  <li><a href="#" class="sf_link">河南</a></li>
  <li><a href="#" class="sf_link">福建</a></li>
  <li><a href="#" class="sf_link">天津</a></li>
  <li><a href="#" class="sf_link">湖南</a></li>
  <li><a href="#" class="sf_link">山西</a></li>
  <li><a href="#" class="sf_link">江西</a></li>
  <li><a href="#" class="sf_link">广西</a></li>
  <li><a href="#" class="sf_link">辽宁</a></li>
  <li><a href="#" class="sf_link">贵州</a></li>
  <li><a href="#" class="sf_link">黑龙江</a></li>
  <li><a href="#" class="sf_link">云南</a></li>
  <li><a href="#" class="sf_link">甘肃</a></li>
  <li><a href="#" class="sf_link">吉林</a></li>
  <li><a href="#" class="sf_link">内蒙古</a></li>
  <li><a href="#" class="sf_link">青海</a></li>
  <li><a href="#" class="sf_link">海南</a></li>
  <li><a href="#" class="sf_link">宁夏</a></li>
  <li><a href="#" class="sf_link">新疆</a></li>
  <li><a href="#" class="sf_link">西藏</a></li>
  </ul>
  </div>
  
  <div id="sf_rk_2">
  <a href="#" class="link_t1">企业航母号上线通 ></a><br />
  <a href="#" class="link_t1">网站发布的个人挂 ></a>
  </div>
</div>