<div class="center">
  <div id="zk_k1">
    <!--一级建造师-->
    <div id="zk_1">
  <ul>
    <li>
    <a href="#" class="zk_1bt">一级建造师</a>
    <a href="#" class="zk_1nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
  <!--造价师-->
  <div id="zk_2">
  <ul>
    <li>
    <a href="#" class="zk_2bt">造价师</a>
    <a href="#" class="zk_1nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
  <!--其他证书-->
  <div id="zk_3">
  <ul>
    <li>
    <a href="#" class="zk_3bt">其他证书</a>
    <a href="#" class="zk_1nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
  </div>
  
  <div id="zk_k2">
  <div id="zk_k2_1">
    <!--二级建造师-->
    <div id="zk_4">
  <ul>
    <li>
    <a href="#" class="zk_4bt">二级建造师</a>
    <a href="#" class="zk_2nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
  <!--土木工程师-->
  <div id="zk_5">
  <ul>
    <li>
    <a href="#" class="zk_5bt">土木工程师</a>
    <a href="#" class="zk_2nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
  <!--监理师-->
  <div id="zk_6">
  <ul>
    <li>
    <a href="#" class="zk_5bt">监理师</a>
    <a href="#" class="zk_2nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
  </div>
  
  <div id="zk_k2_2">
    <!--公共设备工程师-->
    <div id="zk_7">
  <ul>
    <li>
    <a href="#" class="zk_6bt">公共设备工程师&nbsp;&nbsp;</a>
    <a href="#" class="zk_3nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
    <!--结构师-->
  <div id="zk_8">
  <ul>
    <li>
    <a href="#" class="zk_7bt">结构师</a>
    <a href="#" class="zk_3nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
    <!--职称证书-->
  <div id="zk_9">
  <ul>
    <li>
    <a href="#" class="zk_5bt">职称证书</a>
    <a href="#" class="zk_3nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
  </div>
  
  <div id="zk_k2_3">
    <!--资质代办-->
    <div id="zk_10">
  <ul>
    <li>
    <a href="#" class="zk_8bt">资质代办</a>
    <a href="#" class="zk_2nr">这里显示分类(0)</a>    </li>
  </ul>
  </div>
    <!--建筑师-->
  <div id="zk_11">
  <ul>
    <li>
    <a href="#" class="zk_5bt">建筑师</a>
    <a href="#" class="zk_2nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
    <!--电气工程师-->
  <div id="zk_12">
  <ul>
    <li>
    <a href="#" class="zk_5bt">电气工程师</a>
    <a href="#" class="zk_2nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
  </div>
  
  <div id="zk_k2_4">
    <!--建筑培训-->
    <div id="zk_13">
  <ul>
    <li>
    <a href="#" class="zk_5bt">建筑培训</a>
    <a href="#" class="zk_4nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
  <!--注册咨询师-->
  <div id="zk_14">
  <ul>
    <li>
    <a href="#" class="zk_5bt">注册咨询师</a>
    <a href="#" class="zk_4nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
  </div>
  </div>
  <!--全职招聘求职-->
  <div id="zk_15">
    <ul>
    <li>
    <a href="#" class="zk_9bt">全职招聘求职</a>
    <a href="#" class="zk_4nr">这里显示分类(0)</a>
    </li>
  </ul>
  </div>
</div>
