<div id="foot_bk">
<div class="center">
  <!--友情链接-->
  <div id="yqlj">
    友情链接：
  <a href="#" class="link_3">标题名称</a>&nbsp;&nbsp;
  </div>
  <!--版权信息-->
  <div id="bqxx">
  <a href="#" class="link_3">推广服务</a>
  &nbsp;|&nbsp;
  <a href="#" class="link_3">联系我们</a>
  &nbsp;|&nbsp;
  <a href="#" class="link_3">关于我们</a>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="#" class="link_3">网站公告</a>
  <br /><br />
  本站是一个建筑企业与人才交流的中立平台，用户发布的招聘求职信息与本站无关！<br />证书挂靠：010-82207151；资质办理升级：13522001640；咨询QQ：2776681109
  </div>
</div>
</div>