<!--内容开始-->
<div class="center"><img src="../images/release/bt_2.jpg" width="1010" height="78" /></div>
<div class="center">
  <!--选择分类-循环开始-->
  <div class="fb_b1">这里显示大标题名称</div>
  <div class="fb_b2">
    <ul>
      <!--小类循环 开始-->
      <li><a href="<%= home_publish_add_url %>" class="fb_an">小标题名称</a></li>
      <!--小类循环 结束-->
    </ul>
  </div>
  <!--选择分类-循环结束-->
</div>
<div class="center"><img src="../images/jianli/bk_1_r4_c1.jpg" /></div>